/* Signup.module.css */

.body_signup {
  /* background-image: url('/src/assets/back_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0; */
  display: flex;
  justify-content: flex-end; /* Align to the left */
  margin-left: 90px;
  align-items: center; /* Center vertically */
  height: 80vh; /* Full height to center the container */
  padding-left: 50px; /* Add some left padding to space from the edge */
  margin-bottom: 80px; /* Add margin to create space at the bottom */
}

.container_signup {
  margin-top: 94px;
  background: rgba(255, 255, 255, 0.8); /* White background with some transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  width: 350px; /* Fixed width for the container */
}

.container_signup h1 {
  margin-bottom: 20px;
}

.container_signup label {
  display: block;
  margin: 10px 0 5px;
}

.container_signup input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
}

.btn_signup {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #ff5a60;
  color: aliceblue;
  border: none;
  border-radius: 10px;
}

.lineWithText {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.lineWithText .line_signup {
  flex: 1;
  height: 1px;
  background-color: #000;
}

.lineWithText span {
  margin: 0 10px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.icon {
  font-size: 24px;
  margin: 0 10px;
}

.p_signup {
  margin-top: 20px;
  text-align: center;
}

.p_signup a {
  color: red;
  
}
